<div class="navbar" navbar-default>
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" style="color:white;" > Sistem Inventory Barang</a>
    </div>
    <div class="collapse navbar-collapse">
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <!-- <a href="#"(click)="onSelect('recipe')">Recipes</a> -->
          <a routerLink="/barangs" style="color:white;">Input Data Barang</a>
        </li>
        <li routerLinkActive="active">
          <!-- <a href="#"(click)="onSelect('shooping-list')">Shopping List</a> -->
          <a routerLink="/shopping-list" style="color:white;">Data Peminjaman</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor:pointer;" class="dropdown-toggle" role="button" style="color:white;">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="color:white;">
              <a style="cursor:pointer;" (click)="onSaveData()">Save Data</a>
            </li>
            <li style="color:white;">
              <a style="cursor:pointer;" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</div>
